
header {
    margin-top: 100px;
}


/*Styling for the buttons*/
.myButton {
    box-shadow:inset 0px 1px 0px -2px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:4px 20px;
    text-decoration:none;
    text-shadow:0px -1px 0px #ffffff;
}
.myButton:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}
.myButton:active {
    position:relative;
    top:1px;
}
